<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
    <title>Introduction to AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <style>
        html, body {
            font-size: 1.1em;
        }
    </style>

    <base href="/angular-udemy-1/">

    <!-- load angular via CDN -->
    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.5/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.5/angular-messages.min.js"></script>
    <script src="https://code.angularjs.org/1.6.5/angular-resource.min.js"></script>
    <script src="app.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AngularJS</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#/bookmark/1"><i class="fa fa-home"></i>Last bookmark</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div ng-controller="mainController">

        <div>
            <label>What is you FB nick?
                <input type="text" ng-model="nick" ng-value="nick">
            </label>
            <div class="alert" ng-class="{'alert-warning': nick.length < 5, 'alert-danger': nick.length > 5}"
                 ng-hide="nick.length === 5">Must be at least 5 characters
            </div>
            <h3>facebook.com/{{lcNick()}}</h3>
        </div>
        <h3>Rules</h3>
        <ol>
            <li ng-repeat="user in users">{{user.name}}</li>
        </ol>
        <form ng-submit="submit()">
            <label>
                <span>Add rule:</span>
                <input type="text" ng-model="newRule">
            </label>
            <button type="submit">Submit Rule</button>
        </form>
        <h2>New rules</h2>
        <ol ng-if="newRules.length > 0">
            <li ng-repeat="rule in newRules track by $index">{{rule}}</li>
        </ol>

    </div>

    <div ng-controller="secondController">

    </div>

    <div x-ng-view></div>

    <div id="last-bookmark"></div>

</div>

</body>
</html>